<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target
      xsi:type="ColoredConsole"
      name="logconsole"
      layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=2:inner=${threadid}}| - ${message}"
      useDefaultRowHighlightingRules="true"
      />

    <target
      xsi:type="File"
      name="logfile"
      fileName="${specialfolder:ApplicationData}/gordan/advent-of-code/Logs/advent-of-code.log"
      layout="${longdate}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=5:inner=${processid}}|${pad:padding=2:inner=${threadid}}| - ${message}"
      keepFileOpen="true"
      archiveNumbering="Date"
      archiveEvery="Day"
      maxArchiveFiles="7"
      archiveDateFormat="yyyyMMdd"
      />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>

</nlog>
